@tailwind base;
@tailwind components;
@tailwind utilities;

.rougemoche{
    color:red;
}

.salu{
    transform: translateX(-2.5rem);
}

#default-carousel img{
    border: 2px solid black;
    /* box-shadow: 12px 12px 2px 1px rgba(0,169,165,0.2); */
    /* box-shadow: 0px 0px 20px 20px white; */

}

.socialicons{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1rem;
}
.far {
    text-align: center;
    width: 60px;
    font-size:20px ;
    padding: 1rem;
    border-radius: 50%;
    border: rgb(23, 156, 156) solid 2px;
    background: rgba(25, 25, 25, 0.8);
  }

  .far:hover{
    background: rgb(11, 78, 78);
  }

.notewe:after{
    content: "";
    display: block;
    width: 70%;
    border-bottom: solid #00A9A5;
}

/* .para{
    background-image: url(/build/img/4.jpg);
    width: 100%;
    background:blur(8px);
} */

